@font-face {
  font-family: "kaushanscript-regular";
  src: url("../fonts/kaushanscript-regular-webfont.woff2"), url("../fonts/kaushanscript-regular-webfont.woff"), url("../fonts/KaushanScript-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat-bold-webfont.woff2"), url("../fonts/montserrat-bold-webfont.woff"), url("../fonts/montserrat-bold-webfont.ttf");
  font-display: swap;
}
@font-face {
  font-family: "roboto-lightitalic";
  src: url("../fonts/roboto-lightitalic-webfont.woff2"), url("../fonts/roboto-lightitalic-webfont.woff"), url("../fonts/Roboto-LightItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat-regular-webfont.woff2"), url("../fonts/montserrat-regular-webfont.woff"), url("../fonts/montserrat-regular-webfont.ttf");
  font-display: swap;
}
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular-webfont.woff2"), url("../fonts/roboto-regular-webfont.woff"), url("../fonts/Roboto-Regular.ttf");
  font-display: swap;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding-right: 12px;
  padding-left: 15px;
  box-sizing: border-box;
}

.section-title-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-block2 h4 {
  text-align: center;
  font-family: "kaushanscript-regular", sans-serif;
  font-size: 24px;
}
.section-title-block2 h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
.section-title-block2 span {
  width: 62px;
  height: 2px;
  background-color: red;
  margin-top: 15px;
}
.section-title-block2 p {
  font-family: "roboto-regular", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
}

.wr-intro {
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%), url("../media/background/background1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  padding-top: 13px;
  padding-bottom: 13px;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-family: "montserrat-bold", sans-serif;
  margin-left: 18px;
}

.nav {
  padding-right: 15px;
}

.nav ul {
  display: flex;
}
.nav li {
  margin-left: 58px;
  list-style-type: none;
}
.nav a {
  color: #fff;
  font-size: 14px;
  font-family: "montserrat-regular", sans-serif;
  text-transform: uppercase;
}

li:nth-child(1) a {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
  padding-bottom: 5px;
  text-decoration: none;
}

.fl {
  width: 17px;
  height: 17px;
  margin-left: 32px;
  filter: invert(1);
}

/*wr-about*/
.wr-about {
  padding-top: 11.2vh;
}

.section-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-block h2 {
  color: white;
  font-family: "kaushanscript-regular", sans-serif;
  font-size: 72px;
}
.section-title-block h1 {
  font-size: 135px;
  text-transform: uppercase;
  font-family: "montserrat-bold", sans-serif;
  padding-top: 30px;
  color: white;
  text-align: center;
}
.section-title-block span {
  width: 62px;
  height: 2px;
  background-color: white;
  margin-top: 10px;
}

.btn {
  color: white;
  font-family: "montserrat-bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  width: 160px;
  height: 40px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 40px;
}

.slider {
  display: flex;
  justify-content: space-around;
}

.link {
  color: white;
  font-family: "montserrat-regular", sans-serif;
  font-size: 18px;
  margin-top: 50px;
  text-transform: uppercase;
}

hr {
  width: 260px;
  border-color: white;
}

/*wr-story*/
.wr-story {
  padding-top: 90px;
  padding-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.container img {
  width: 370px;
  height: 250px;
  margin-top: 90px;
  margin-left: 15px;
}

.rectangle {
  width: 379px;
  height: 255px;
  background-color: #95e1d3;
  position: relative;
  top: 90px;
  right: 15px;
}

.images {
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%), url("../media/picture/computer.png");
  width: 379px;
  height: 255px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.images p {
  font-family: "montserrat-bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 137px;
  left: 127px;
}

/*wr-dates*/
.wr-dates {
  background-image: url("../media/background/background-2.jpg");
  height: 30vh;
  background-size: cover;
}

.number {
  display: flex;
  justify-content: space-around;
}

.number span {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  right: 10px;
}
.number .item::before {
  content: "";
  background: white;
  width: 1px;
  height: 100%;
  position: absolute;
}

.item {
  font-family: "montserrat-bold", sans-serif;
  font-size: 72px;
  color: white;
  position: relative;
  top: 80px;
}

/*wr-work*/
.wr-work {
  padding-top: 110px;
  padding-bottom: 122px;
}

.container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 66px;
}

.container2 h3 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.line {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin-top: 54px;
}

/*# sourceMappingURL=main.css.map */
