@font-face {
  font-family: "kaushanscript-regular";
  src: url("../fonts/kaushanscript-regular-webfont.woff2"), url("../fonts/kaushanscript-regular-webfont.woff"), url("../fonts/KaushanScript-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat-bold-webfont.woff2"), url("../fonts/montserrat-bold-webfont.woff"), url("../fonts/montserrat-bold-webfont.ttf");
  font-display: swap;
}
@font-face {
  font-family: "roboto-lightitalic";
  src: url("../fonts/roboto-lightitalic-webfont.woff2"), url("../fonts/roboto-lightitalic-webfont.woff"), url("../fonts/Roboto-LightItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat-regular-webfont.woff2"), url("../fonts/montserrat-regular-webfont.woff"), url("../fonts/montserrat-regular-webfont.ttf");
  font-display: swap;
}
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular-webfont.woff2"), url("../fonts/roboto-regular-webfont.woff"), url("../fonts/Roboto-Regular.ttf");
  font-display: swap;
}
body {
  overflow-x: hidden;
  font-family: "roboto-regular", sans-serif;
  font-size: 15px;
  color: #999999;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding-right: 12px;
  padding-left: 15px;
  box-sizing: border-box;
}

.section-title-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.section-title-block2 h4 {
  font-family: "kaushanscript-regular", sans-serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
}
.section-title-block2 h3 {
  position: relative;
  font-family: "montserrat-bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1px;
  color: #000000;
}
.section-title-block2 h3:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #ff0000;
  margin-top: 40px;
  opacity: 0.4;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.section-title-block2 p {
  font-family: "roboto-regular", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
  max-width: 950px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.wr-intro {
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%), url("../media/background/background1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  padding-top: 13px;
  padding-bottom: 13px;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-family: "montserrat-bold", sans-serif;
  margin-left: 18px;
  text-decoration: none;
}

.nav ul {
  display: flex;
}
.nav li {
  margin-left: 47px;
  list-style-type: none;
}
.nav a {
  color: #fff;
  font-size: 14px;
  font-family: "montserrat-regular", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  width: 30px;
  padding: 10px 0;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  transition: 0.3s linear;
}

.nav-toggle-item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.nav-toggle-item::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  top: -8px;
  background-color: #fff;
  z-index: 1;
  transition: transform 0.2s linear;
}

.nav-toggle-item::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: #fff;
  z-index: 1;
  transition: transform 0.2s linear;
}

.nav-toggle.active .nav-toggle-item {
  background: none;
}

.active .nav-toggle-item::before {
  content: "";
  transform-origin: left top;
  transform: rotate(45deg) translateX(-2px);
}

.active .nav-toggle-item::after {
  content: "";
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-3px);
}

.button-mini {
  background: none;
  border: none;
}

.fa-search {
  color: #fff;
}

.fa-search:hover {
  color: #fce38a;
}

.fa-cart-arrow-down {
  color: #fff;
}

.fa-cart-arrow-down:hover {
  color: #fce38a;
}

.header a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 5px;
  text-decoration: none;
}

/*wr-about*/
.wr-about {
  padding-top: 10vh;
}

.section-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-block h2 {
  color: #fff;
  font-family: "kaushanscript-regular", sans-serif;
  font-size: 54px;
}
.section-title-block h1 {
  position: relative;
  font-size: 93px;
  text-transform: uppercase;
  font-family: "montserrat-bold", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  padding-left: 26px;
}
.section-title-block h1:after {
  content: "";
  display: block;
  width: 62px;
  height: 2px;
  background-color: #fff;
  margin-top: 30px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.btn {
  color: #fff;
  font-family: "montserrat-bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  width: 160px;
  height: 40px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px;
  margin-top: 30px;
}

#slider1 {
  padding-left: 350px;
}

#slider1 .viewport {
  width: 515px;
  height: 504px;
  text-align: center;
}

#slider1 .overview li {
  height: 350px;
  width: 500px;
  border: medium none;
}

.overview {
  list-style-type: none;
}

.overview p {
  font-size: 20px;
  color: #fff;
  padding-top: 50px;
  text-align: left;
}
.overview span {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.overview img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-left: 225px;
}
.overview li {
  display: flex;
  flex-direction: column;
}
.overview a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.address {
  display: flex;
  flex-direction: column;
}

.slider-link {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

.slider-link a {
  text-decoration: none;
  color: #fff;
}

.slider-link a {
  color: #fff;
  font-family: "montserrat-regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 2px solid #fff;
  width: 22%;
  padding-top: 20px;
  position: relative;
}

.link:hover:before {
  content: "";
  position: absolute;
  bottom: 100%;
  border-top: 2px solid #e34234;
  width: calc(100% - 200px);
}

.link:hover {
  font-weight: bold;
  color: #e34234;
}

/*wr-story*/
.wr-story {
  padding-top: 90px;
  padding-bottom: 120px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.gradient {
  position: relative;
  width: 31%;
  height: 250px;
}

.image {
  width: 100%;
  height: 250px;
}

.gradient:hover {
  top: -10px;
  left: -10px;
  opacity: 1;
}

.gradient:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #95e1d3;
  z-index: -1;
}

.gradient:hover:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  z-index: 1;
}

.text-image {
  font-family: "montserrat-bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.icon-people {
  width: 50px;
  height: 50px;
}

.gradient:hover .text-image {
  position: absolute;
  top: 130px;
  left: 125px;
  opacity: 1;
  z-index: 1;
}

.gradient:hover .icon-people {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

/*wr-dates*/
.wr-dates {
  background-color: #95e1d3;
}

.item {
  border-right: 1px solid #fff;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.item:first-child {
  border-left: 1px solid #fff;
}

.number {
  display: flex;
  justify-content: space-around;
}

.number p {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.number span {
  font-family: "montserrat-bold", sans-serif;
  font-size: 72px;
  color: #fff;
}

/*wr-work*/
.wr-work {
  padding-top: 110px;
  padding-bottom: 122px;
  padding-left: 60px;
}

.container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.container2 .icon-work {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.icon {
  display: flex;
}

.text-icon {
  margin-left: 20px;
}

.text-icon h3 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}
.text-icon p {
  max-width: 280px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #DCDCDC;
  margin-top: 54px;
}

/*wr-devices*/
.wr-devices {
  background-image: linear-gradient(50deg, rgba(255, 255, 255, 0.9) 0%, rgba(208, 213, 213, 0.9) 100%), url("../media/background/second.png");
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

.device-phone {
  text-align: center;
  padding-left: 120px;
}

.device-phone img {
  width: 45%;
  height: 600px;
  margin-top: 61px;
}
.device-phone .phone {
  width: 23%;
  height: 420px;
  position: relative;
  right: 100px;
  top: 92px;
}

/*wr-service*/
.wr-service {
  padding-top: 30px;
  padding-bottom: 130px;
  padding-left: 30px;
}

.container-service {
  display: flex;
  justify-content: space-between;
}

.container-service .work {
  width: 100%;
  height: 380px;
}

.container-colum {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: 15px;
}

.element {
  max-width: 600px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin: 10px 0;
}

.element:last-child {
  margin: 0;
}

.question {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 46px;
}

.question img {
  width: 70px;
  height: 50px;
}
.question h3 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 330px;
}
.question button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.question .fas {
  color: #DCDCDC;
}

.element .answer {
  padding: 10px;
  margin: 0 20px 0 10px;
}

.hideText {
  display: none;
}

.scroll {
  overflow-y: scroll;
  height: 115px;
  padding: 5px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #F8F8F8;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #95e1d3;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*wr-slider*/
.wr-slider {
  background-color: #F8F8F8;
  padding-top: 60px;
  padding-bottom: 60px;
}

.slider-container {
  padding-left: 85px;
}

.slick1 img {
  border: 3px solid #95e1d3;
  padding: 30px;
  width: 10%;
  float: left;
  margin: 30px;
}
.slick1 p {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 24px;
  max-width: 1000px;
  white-space: pre-line;
  margin-top: 50px;
}
.slick1 span {
  font-family: "kaushanscript-regular", sans-serif;
  font-size: 24px;
  color: #000000;
  position: relative;
  left: 80px;
  top: 15px;
}
.slick1 span::before {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #ff0000;
  position: absolute;
  right: 90px;
  top: 20px;
  opacity: 0.4;
}

.slider-container {
  position: relative;
}

.slider-arrow img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30%;
}

.arrow-left img {
  left: 0;
}

.arrow-right img {
  right: 0;
}

/*wr-team*/
.wr-team {
  padding-top: 100px;
  padding-bottom: 140px;
}

.container-team2 {
  display: flex;
  justify-content: space-between;
}

.block-team {
  position: relative;
  width: 100%;
  height: 470px;
}

.developer {
  width: 100%;
  height: 470px;
}

.text-team h3 {
  text-align: center;
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-top: -30px;
}
.text-team h4 {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 15px;
  text-align: center;
}

.block-team:hover {
  top: -10px;
  left: -10px;
  opacity: 1;
  transition: 0.5s;
  transform: translateY(-25px);
}

.block-team:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #95e1d3;
  z-index: -1;
}

.block-team:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  z-index: 1;
}

.icon-teams {
  display: flex;
}

.icon-team {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #fce38a;
  padding: 9px;
  margin: -2px;
  border-left: 1px solid #f38181;
}

.icon-team:last-child {
  border-right: 1px solid #f38181;
}

.block-team:hover .icon-team {
  width: 30px;
  height: 30px;
  position: relative;
  top: -250px;
  left: 100px;
  opacity: 1;
  z-index: 1;
}

.icon-team:hover {
  background-color: #f38181;
  transition: 0.9s;
}

.fa-facebook-f {
  color: #f38181;
  margin-left: 3px;
}

.fa-facebook-f:hover {
  color: #fff;
}

.fa-dove {
  color: #f38181;
}

.fa-dove:hover {
  color: #fff;
}

.fa-pinterest-p {
  color: #f38181;
}

.fa-pinterest-p:hover {
  color: #fff;
}

.fa-camera-retro {
  color: #f38181;
}

.fa-camera-retro:hover {
  color: #fff;
}

/*wr-sign*/
.wr-sign {
  background-color: #F8F8F8;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.signs {
  display: flex;
  justify-content: space-between;
}

.sing {
  width: 100%;
  height: 135px;
}

/*wr-some-work*/
.wr-some-work {
  padding-top: 107px;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(2, 397px);
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-iteam1 {
  grid-row: 1;
  grid-column: 1;
}

.gallery-iteam2 {
  grid-row: 1;
  grid-column: 2;
}

.gallery-iteam3 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.gallery-iteam4 {
  grid-row: 1;
  grid-column: 4;
}

.gallery-iteam5 {
  grid-row: 2;
  grid-column: 1;
}

.gallery-iteam6 {
  grid-row: 2;
  grid-column: 2;
}

.gallery-iteam7 {
  grid-row: 2;
  grid-column: 4;
}

.pictures:hover::before {
  content: "";
  display: inline-block;
  width: 25%;
  height: 50%;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
}

.pictures-ocean:hover::before {
  content: "";
  display: inline-block;
  width: 25%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
}

.text-gallery {
  position: relative;
  opacity: 0;
  text-align: center;
}

.text-gallery img {
  width: 40px;
  height: 50px;
}
.text-gallery h3 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.text-gallery h4 {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 15px;
  color: #fff;
}

.pictures:hover .text-gallery {
  position: relative;
  bottom: 60%;
  z-index: 1;
  opacity: 1;
}

.pictures-ocean:hover .text-gallery {
  position: relative;
  bottom: 50%;
  z-index: 1;
  opacity: 1;
}

/*wr-slider-img*/
.wr-slider-img {
  padding-top: 90px;
  padding-bottom: 100px;
}

.slider-container-img {
  padding-left: 85px;
}

.slick2 img {
  padding-top: -50px;
  float: left;
}
.slick2 p {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 24px;
  padding-top: 40px;
  max-width: 1000px;
  white-space: pre-line;
}
.slick2 span {
  font-family: "kaushanscript-regular", sans-serif;
  font-size: 24px;
  color: #333;
  position: relative;
  left: 80px;
  top: 15px;
}
.slick2 span::before {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #ff0000;
  opacity: 0.4;
  position: absolute;
  right: 140px;
  top: 20px;
}

.slider-container-img {
  position: relative;
}

.slider-container-img .slider-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  color: #e5e5e5;
}
.slider-container-img .arrow-left2 {
  left: 0;
}
.slider-container-img .arrow-right2 {
  right: 0;
}

/*wr-clients*/
.wr-happy-clients {
  background-image: linear-gradient(50deg, rgba(255, 255, 255, 0.9) 0%, rgba(208, 213, 213, 0.9) 100%), url("../media/background/thirdback.png");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 126px;
}

.container-people {
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
}

.clients {
  display: flex;
}

.clients img {
  width: 30%;
  height: 160px;
}

.clients-text {
  margin-left: 30px;
}

.clients-text h3 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
}
.clients-text h4 {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 15px;
  color: #333333;
  position: relative;
  top: -10px;
}
.clients-text h4::after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #ff0000;
  opacity: 0.4;
  position: absolute;
  top: 35px;
}
.clients-text p {
  max-width: 390px;
}

/*wr-latest*/
.wr-latest {
  padding-top: 109px;
  padding-bottom: 116px;
}

.container-latest {
  display: flex;
  justify-content: space-around;
}

.blog-img {
  position: relative;
}

.blog img {
  width: 100%;
}
.blog h3 {
  width: 15%;
  height: 60px;
  background-color: #95e1d3;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  position: absolute;
  left: -10px;
  bottom: -10px;
}
.blog span {
  font-size: 13px;
  font-weight: lighter;
  position: absolute;
  top: 39px;
  left: 5px;
  padding-left: 15px;
}
.blog h4 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}
.blog p {
  max-width: 370px;
}

.buttons {
  display: flex;
  border-top: 1px solid #808080;
  opacity: 0.5;
}

.buttons .fa-eye {
  color: #95e1d3;
}
.buttons .fa-comment-dots {
  color: #95e1d3;
  margin-left: 15px;
}
.buttons .eye {
  background: none;
  border: none;
}
.buttons h5 {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 15px;
  color: #999;
}
.buttons .comment {
  background: none;
  border: none;
}

/*wr-map*/
.wr-map {
  background-image: linear-gradient(50deg, rgba(255, 255, 255, 0.9) 0%, rgba(208, 213, 213, 0.9) 100%), url("../media/background/backgroundmap.png");
  background-size: cover;
  background-position: center;
  padding-top: 53px;
  padding-bottom: 50px;
  text-align: center;
}

.wr-map img {
  width: 30px;
  height: 30px;
}
.wr-map h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 24px;
  color: #f38181;
  text-transform: uppercase;
  position: relative;
}
.wr-map h3::after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/*wr-last*/
.wr-last {
  background-color: #F0F0F0;
  background-size: cover;
  background-position: center;
  padding-top: 74px;
  padding-bottom: 20px;
}

.container-mogo {
  display: flex;
  justify-content: space-between;
}

.mogo h2 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 46px;
  opacity: 0.3;
}
.mogo p {
  max-width: 460px;
  line-height: 1.5;
}
.mogo h3 {
  font-weight: lighter;
  margin-top: 30px;
  font-size: 15px;
}
.mogo span {
  font-family: "montserrat-bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  padding: 5px;
}
.mogo .lines {
  width: 100%;
  height: 1px;
  background-color: #DCDCDC;
}
.mogo h4 {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 15px;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.follow img {
  width: 20px;
  height: 20px;
}

input {
  border: none;
  width: 240px;
  height: 40px;
  border-color: #F8F8F8;
  margin-top: 20px;
}

input[type] {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.contacts-button {
  width: 150px;
  height: 43px;
  background-color: #95e1d3;
  border: none;
  margin-left: -3px;
  font-family: "montserrat-bold", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input::placeholder {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 15px;
}

.blogs h2 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 40px;
  font-weight: lighter;
  color: #333;
}

.blogs-img {
  display: flex;
  justify-content: space-between;
}

.blogs-img img {
  width: 35%;
  height: 80px;
}

.blogs-text p {
  font-size: 12px;
  text-transform: uppercase;
  max-width: 180px;
  line-height: 1.5;
}
.blogs-text h3 {
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 13px;
}

.view {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
}

.view img {
  width: 30%;
  height: 90px;
  padding: 1px;
}

.instagram h2 {
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #333;
  margin-top: 50px;
}
.instagram .view-img {
  background: none;
  border: none;
  font-family: "roboto-lightitalic", sans-serif;
  font-size: 13px;
  margin-top: 15px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-family: "montserrat-regular", sans-serif;
  font-size: 14px;
  border-top: 1px solid #DCDCDC;
  margin-top: 40px;
  padding: 20px;
}

.footer a {
  text-decoration: none;
  color: #f38181;
}

.mobile_menu_click {
  display: none;
}

@media (max-width: 1230px) {
  /*wr-intro*/
  .wr-about {
    padding-top: 0vh;
  }

  .btn {
    margin-top: 0;
  }

  .slider-link {
    margin-top: -12px;
  }

  /*wr-service*/
  .element {
    max-width: 560px;
  }

  .question {
    width: 560px;
  }
}
@media (max-width: 990px) {
  /*wr-intro*/
  .wr-about {
    padding-top: 5vh;
  }

  #slider1 {
    padding-left: 195px;
  }

  .section-title-block h2 {
    font-size: 47px;
  }
  .section-title-block h1 {
    font-size: 77px;
  }

  .overview a {
    font-size: 13px;
  }

  .btn {
    width: 130px;
  }

  .slider-link {
    margin-top: -50px;
  }

  .link:hover:before {
    width: calc(100% - 139px);
  }

  /*wr-story*/
  .text-image {
    margin-left: -35px;
  }

  /*.wr-devices*/
  .device-phone .phone {
    width: 28%;
  }

  /*.wr-service*/
  .section-title-block2 p {
    max-width: 845px;
  }

  .container-service .work {
    width: 80%;
  }

  .container-service {
    display: flex;
    flex-direction: column;
    padding-left: 160px;
  }

  .question {
    width: 567px;
  }

  .container-colum {
    margin-top: 20px;
    margin-left: 0;
  }

  .element {
    max-width: 580px;
  }

  /*wr-slider*/
  .slider-container {
    padding-left: 30px;
  }

  /*.wr-team*/
  .wr-team {
    padding-top: 57px;
  }

  .container-team2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
  }

  .developer {
    width: 100%;
  }

  .block-team:hover::before {
    width: 100%;
  }

  .block-team:hover::after {
    width: 100%;
  }

  .main-block {
    margin-top: 160px;
  }

  .icon-teams {
    margin-left: -30px;
  }

  .icon-team {
    padding: 15px;
  }

  .text-team h3 {
    font-size: 17px;
  }
  .text-team h4 {
    font-size: 17px;
  }

  /*.wr-latest*/
  .wr-latest {
    padding-top: 45px;
  }

  .container-latest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*.wr-last*/
  .wr-last {
    padding-top: 40px;
  }

  .mogo p {
    max-width: 338px;
    font-size: 13px;
  }

  .mogo .lines {
    width: 91%;
  }

  input {
    width: 185px;
  }

  .contacts-button {
    width: 118px;
  }

  .blogs-text p {
    font-size: 10px;
    max-width: 168px;
  }

  .blogs-img {
    margin-top: 36px;
  }

  .view {
    margin-top: 40px;
  }
}
@media (max-width: 770px) {
  /*wr-intro*/
  .nav {
    display: none;
    width: 100%;
    background-color: #eb8b8d;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: 1;
  }

  .nav.active {
    display: block;
  }

  .nav ul {
    display: block;
  }

  .nav-menu li {
    margin: 0;
    padding: 10px 20px;
  }

  .nav-toggle {
    display: block;
  }

  .nav-toggle .active {
    display: block;
  }

  .wr-intro {
    height: 98vh;
  }

  .logo {
    padding-top: 10px;
  }

  .wr-about {
    padding-top: 0vh;
  }

  #slider1 {
    padding-left: 105px;
  }

  .section-title-block h2 {
    font-size: 40px;
  }

  .section-title-block h1 {
    font-size: 60px;
  }

  .btn {
    margin-top: 33px;
  }

  .overview img {
    width: 20px;
  }

  .overview span {
    font-size: 14px;
    margin-left: -25px;
  }

  /*slider-link*/
  .slider-text {
    display: none;
  }

  .link:hover:before {
    width: calc(100% - 94px);
  }

  /*wr-story*/
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .gradient {
    width: 52%;
    margin: 15px;
  }

  .text-image {
    margin-left: -3px;
  }

  /*.wr-dates*/
  .number span {
    font-size: 65px;
  }
  .number p {
    text-align: center;
  }

  /*wr-work*/
  .wr-work {
    padding-top: 45px;
    padding-left: 0;
  }

  .section-title-block2 h3 {
    font-size: 25px;
  }

  /*.wr-devices*/
  .wr-devices {
    padding-top: 40px;
  }

  .device-phone img {
    width: 60%;
  }

  .device-phone .phone {
    width: 38%;
  }

  /*.wr-service*/
  .wr-service {
    padding-top: 3px;
  }

  .container-service {
    padding-left: 57px;
  }

  .container-service .work {
    width: 92%;
  }

  /*wr-slider*/
  .slick1 p {
    font-size: 17px;
    margin-top: 47px;
  }

  /*sing*/
  .sing {
    height: 123px;
  }

  /*wr-some-work*/
  .wr-some-work {
    padding-top: 50px;
  }

  /*slider-img*/
  .slick2 img {
    width: 26%;
    padding-right: 15px;
  }
  .slick2 p {
    font-size: 14px;
    padding-top: 5px;
    max-width: 450px;
  }
  .slick2 span {
    font-size: 17px;
  }

  .slick2 span::before {
    width: 50px;
    right: 106px;
    top: 15px;
  }

  /*.wr-happy-clients*/
  .wr-happy-clients {
    padding-top: 50px;
  }

  .container-people {
    display: flex;
    flex-wrap: wrap;
  }

  .clients img {
    width: 30%;
    height: 160px;
  }

  /*wr-last*/
  .container-mogo {
    display: flex;
    flex-direction: column;
  }

  .mogo p {
    max-width: 640px;
    font-size: 17px;
  }

  .follow {
    display: flex;
    justify-content: flex-start;
  }

  .follow a {
    margin-left: 25px;
  }

  input {
    width: 250px;
  }

  .contacts-button {
    width: 166px;
  }

  .blogs-img {
    display: flex;
    justify-content: flex-start;
  }

  .blogs-img img {
    width: 28%;
    height: 130px;
  }

  .blogs-text p {
    font-size: 16px;
    max-width: 250px;
  }
  .blogs-text h3 {
    font-size: 16px;
  }

  .blogs-text {
    margin-left: 32px;
  }

  .blogs h2 {
    font-size: 20px;
  }

  .instagram h2 {
    font-size: 20px;
  }

  .view img {
    width: 32%;
    height: 100px;
  }

  .instagram .view-img {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  /*wr-intro*/
  .wr-intro {
    height: 80vh;
  }

  .wr-about {
    padding-top: 0vh;
  }

  #slider1 {
    padding-left: 0;
  }

  .section-title-block h2 {
    font-size: 30px;
  }

  .section-title-block h1 {
    font-size: 45px;
  }

  .overview a {
    font-size: 11px;
  }

  .btn {
    width: 114px;
    height: 31px;
  }

  .slider-link {
    margin-top: -163px;
  }

  .overview img {
    width: 19px;
    margin-top: 0;
  }

  .overview span {
    font-size: 15px;
  }

  .overview p {
    font-size: 17px;
    padding-top: 0;
  }

  /*wr-store*/
  .wr-story {
    padding-top: 35px;
  }

  .section-title-block2 h3 {
    font-size: 30px;
  }
  .section-title-block2 p {
    font-size: 20px;
  }

  .text-image {
    margin-left: -58px;
  }

  /*.wr-dates*/
  .number span {
    font-size: 47px;
  }
  .number p {
    text-align: center;
    font-size: 12px;
  }

  /*wr-work*/
  .section-title-block2 h3 {
    font-size: 20px;
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  /*.wr-devices*/
  .device-phone img {
    height: 425px;
  }

  .device-phone .phone {
    height: 330px;
  }

  /*wr-service*/
  .container-service {
    padding-left: 0;
  }

  .container-service .work {
    width: 100%;
  }

  .question h3 {
    margin-right: 0;
  }

  .question {
    width: 485px;
  }

  /*wr-slider*/
  .slick1 img {
    padding: 30px;
    margin: 18px;
  }

  .slick1 span {
    font-size: 18px;
  }

  .slick1 span::before {
    width: 90%;
    height: 1px;
    right: 72px;
    top: 16px;
  }

  .slick1 p {
    max-width: 460px;
    margin-top: 10px;
  }

  /*.wr-team*/
  .container-team2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  /*sign*/
  .sing {
    height: 80px;
  }

  /*wr-some-work*/
  .gallery {
    grid-template-rows: repeat(2, 250px);
  }

  .text-gallery h3 {
    font-size: 10px;
  }
  .text-gallery h4 {
    font-size: 12px;
  }

  /*wr-slider-img*/
  .slick2 p {
    max-width: 308px;
  }

  .slick2 span {
    margin-left: 67px;
    font-size: 15px;
    margin-left: 36px;
    top: 4px;
  }

  .slick2 img {
    width: 41%;
    padding-top: 24px;
    padding-right: 15px;
  }

  .slick span::before {
    content: "";
    right: 87px;
    top: 15px;
  }

  /*last*/
  .blogs-img img {
    height: 115px;
  }
}
@media (max-width: 430px) {
  .wr-intro {
    height: 80vh;
  }

  .logo {
    font-size: 20px;
  }

  #slider1 {
    margin-left: -80px;
  }

  .wr-about {
    padding-top: 0vh;
  }

  .section-title-block h2 {
    font-size: 26px;
  }

  .section-title-block h1 {
    font-size: 40px;
    max-width: 283px;
  }

  .btn {
    width: 108px;
    height: 28px;
  }

  .overview a {
    font-size: 10px;
  }

  /*wr-story*/
  .wr-story {
    padding-bottom: 70px;
  }

  .section-title-block2 h4 {
    font-size: 14px;
  }
  .section-title-block2 h3 {
    font-size: 14px;
  }
  .section-title-block2 p {
    margin-top: 25px;
    font-size: 12px;
  }

  .image {
    height: 210px;
  }

  .gradient:hover:before {
    height: 85%;
  }

  .gradient:hover::after {
    height: 85%;
  }

  .icon-people {
    width: 40px;
  }

  .section-title-block2 h3:after {
    margin-top: 12px;
    width: 45px;
  }

  .text-image {
    margin-left: -47px;
    font-size: 16px;
  }

  .container {
    margin-left: -109px;
    margin-right: -104px;
    margin-top: -23px;
  }

  .overview img {
    width: 22px;
    margin-top: 1px;
  }

  .overview span {
    font-size: 13px;
  }

  .overview p {
    font-size: 14px;
    max-width: 273px;
    padding-left: 111px;
    padding-top: 9px;
  }

  /*wr-number*/
  .number {
    display: flex;
    flex-direction: column;
  }

  .item {
    border-bottom: 1px solid #fff;
    width: 100%;
  }

  .number span {
    font-size: 53px;
  }

  .number p {
    font-size: 12px;
  }

  .item {
    border-right: none;
    padding: 15px 20px;
  }

  .item:first-child {
    border-left: none;
  }

  /*wr-work*/
  .wr-work {
    padding-bottom: 50px;
  }

  .line {
    width: 0;
  }

  .container2 {
    margin-top: -33px;
  }

  .container2 .icon-work {
    width: 50px;
    height: 50px;
  }

  .text-icon h3 {
    font-size: 11px;
  }

  /*.wr-devices*/
  .wr-devices {
    height: 71vh;
    padding-top: 15px;
  }

  .device-phone {
    padding-left: 0;
  }

  .device-phone img {
    height: 293px;
    width: 55%;
  }

  .device-phone .phone {
    height: 160px;
    width: 27%;
    right: 55px;
    top: 39px;
  }

  /*.wr-service*/
  .wr-service {
    padding-top: 38px;
    padding-bottom: 60px;
  }

  .container-service .work {
    height: 189px;
  }

  .question h3 {
    font-size: 10px;
  }

  .question img {
    width: 47px;
    height: 34px;
    margin-top: 5px;
  }

  .question {
    width: 309px;
  }

  .element {
    padding: 0;
  }

  /*.wr-slider*/
  .wr-slider {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .slick1 img {
    padding: 7px;
  }

  .slick1 p {
    max-width: 229px;
    margin-top: 11px;
    font-size: 10px;
  }

  .slick1 span {
    font-size: 13px;
    left: 131px;
    top: 4px;
  }

  .slick1 span::before {
    width: 67%;
    height: 1px;
    right: 60px;
    top: 14px;
  }

  .slider-arrow img {
    width: 10px;
  }

  /*.wr-some-work*/
  .gallery {
    grid-template-rows: repeat(2, 140px);
  }

  .text-gallery img {
    width: 20px;
  }

  .text-gallery h3 {
    font-size: 6px;
    margin-top: -14px;
  }

  .text-gallery h4 {
    font-size: 6px;
  }

  /*wr-team*/
  .wr-team {
    padding-bottom: 67px;
  }

  .developer {
    height: 375px;
  }

  .block-team:hover::before {
    height: 80%;
  }

  .block-team:hover::after {
    height: 80%;
  }

  .icon-teams {
    margin-left: -60px;
    margin-top: 36px;
  }

  .text-team h3 {
    font-size: 14px;
  }
  .text-team h4 {
    font-size: 15px;
  }

  .icon-team {
    padding: 8px;
  }

  /*.wr-sign*/
  .signs {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    padding-left: 50px;
  }

  .wr-sign {
    padding-top: 32px;
    padding-bottom: 30px;
  }

  .sing {
    height: 77px;
    width: 77px;
  }

  /*.wr-slider-img*/
  .slider {
    width: 307px;
  }

  .wr-slider-img {
    padding-left: 0;
  }

  .slider-container-img {
    padding-left: 0;
  }

  .slider-container-img .arrow-right2 {
    right: -114px;
  }

  .slick2 img {
    width: 18%;
  }

  .slick2 p {
    font-size: 17px;
  }

  .slick2 span::before {
    width: 46px;
    right: 95px;
    top: 16px;
  }

  .slider-container-img .slider-arrow {
    display: none;
  }

  /*wr-last*/
  .mogo h2 {
    font-size: 38px;
  }
  .mogo p {
    font-size: 12px;
  }

  .follow a {
    margin-left: 8px;
  }

  input {
    width: 157px;
  }

  .contacts-button {
    width: 105px;
  }

  .blogs-text p {
    font-size: 11px;
  }

  .blogs-text h3 {
    font-size: 12px;
  }

  .blogs-img img {
    height: 72px;
  }

  .clients img {
    width: 30%;
    height: 45%;
  }

  .container-people {
    margin-top: 68px;
  }
}
@media (max-width: 320px) {
  /*wr-intro*/
  #slider1 {
    margin-left: -118px;
  }

  /*wr-device*/
  .wr-devices {
    height: 69vh;
  }

  .device-phone img {
    width: 58%;
    height: 279px;
  }

  .device-phone .phone {
    width: 32%;
  }

  /*wr-service*/
  .question {
    width: 280px;
  }

  .question img {
    width: 48px;
    height: 37px;
  }

  .container-service .work {
    margin-left: -13px;
    margin-top: -33px;
  }

  .container-colum {
    margin-left: -27px;
  }

  /*wr-team*/
  .container-team2 {
    padding-left: 0;
    padding-right: 0;
  }

  .main-block {
    margin-top: 106px;
  }

  .signs {
    display: flex;
    flex-wrap: wrap;
    max-width: 248px;
    padding-left: 40px;
  }

  .sing {
    height: 75px;
    width: 75px;
  }

  .slider {
    width: 500px;
  }

  .slider-container-img .arrow-right2 {
    display: none;
  }

  .slick2 img {
    width: 27%;
    padding-top: 33px;
  }

  .wr-slider-img {
    padding-left: 0;
  }

  .slick2 span {
    margin-left: 50px;
    top: 2px;
  }

  .slick2 span {
    top: 13px;
    right: 85px;
  }

  .slick2 span::before {
    width: 43px;
    right: 87px;
  }

  /*wr-happy-clients*/
  .clients-text p {
    font-size: 12px;
  }

  /*wr-last*/
  .blogs h2 {
    font-size: 15px;
  }

  .instagram h2 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
