@import "./setting.scss";
@import"./normalize.scss";

.wr-intro {
    background-image: linear-gradient(180deg, 
    rgba(243,129,129,0.9) 0%,
    rgba(252,227,138,0.9) 100%), 
    url("../media/background/background1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.header {
    padding-top: 13px;
    padding-bottom: 13px;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #fff;
    font-size: 30px;
    font-family: "montserrat-bold", sans-serif;
    margin-left: 18px;
    text-decoration: none;
}
.nav {
ul {
    display: flex;
    padding-left: 450px;
}
li {margin-left: 47px;
    list-style-type: none;
}
a {
    color: #fff;
    font-size: 14px;
    font-family: "montserrat-regular", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
}
.nav-toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 29px;
    right: 20px;
    z-index: 1;
    transition: .3s linear;
    outline: none;
}

.nav-toggle-item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.nav-toggle-item::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: -8px;
    background-color: #fff;
    z-index: 1;
    transition: transform .2s linear;
}
.nav-toggle-item::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #fff;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle.active .nav-toggle-item  {
    background: none;
}

.active .nav-toggle-item::before {
    content: '';
    transform-origin: left top;
    transform: rotate(45deg)
    translateX(-2px);
}
.active .nav-toggle-item::after {
    content: '';
    transform-origin: left bottom;
    transform: rotate(-45deg)
    translateX(-4px);
}
.buttons-nav i {
    color: #fff;
}
.button-mini {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}
.header a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 5px;
    text-decoration: none;
}


/*wr-about*/
.wr-about {
    padding-top: 10vh;  
}
.section-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-block {
h2 {
    color: #fff;
    font-family: "kaushanscript-regular", sans-serif;
    font-size: 54px;
}
h1 {
    position: relative;
    font-size: 98px;
    text-transform: uppercase;
    font-family: "montserrat-bold", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    padding-left: 26px;
    max-width: 550px;
}
h1:after {
    content: "";
    display: block;
    width: 62px;
    height: 2px;
    background-color: #fff;
    margin-top: 30px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
}

.btn {
    color: #fff;
    font-family: "montserrat-bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    width: 160px;
    height: 40px;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.btn:hover {
    color: #e34234;
    border: 3px solid #e34234;
}
.slider-link {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.slider-link a {
    text-decoration: none;
    color: #fff;
}
.slider-link a {
    color: #fff;
    font-family: "montserrat-regular", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    width: 22%;
    padding-top: 20px;
    position: relative;
}
.link:hover:before {
    content: '';
    position: absolute;
    bottom: 100%;
    border-top: 2px solid #e34234;
    width: calc(100% - 200px);
}
.link:hover {
    font-weight: bold;
    color: #e34234;
}

/*wr-story*/
.wr-story {
    padding-top: 90px;
    padding-bottom: 120px;
}
.container {
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}
.gradient {
    width: 33.33333%;
    padding: 0 20px;
}
.card-inner {
    position: relative;
    background-color: #95e1d3;
}
.gradient:hover .card-image {
    transform: translate3d(-10px, -10px, 0);
}
.gradient:hover .card-image img {
    opacity: .1;
}
.gradient:hover .card-item {
    opacity: 1;
}
.gradient:hover .gradient-icon {
    opacity: 1;
}
.card-image {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
.card-image img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}
.card-item {
    width: 100%;
    font-family: "montserrat-bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    opacity: 0; 
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .1s linear;
}
.gradient-icon img {
    width: 40px;
    height: 40px;
}
.gradient-icon {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .1s linear;
}

/*wr-dates*/
.wr-dates {
    background-color:  #95e1d3;
}
.item {
    border-right: 1px solid #fff;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
}
.item:first-child {
    border-left: 1px solid #fff;  
}
.number {
    display: flex;
    justify-content: space-around;
}
.number {
p {
    font-family: "montserrat-regular",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
span {
    font-family: "montserrat-bold", sans-serif;
    font-size: 72px;
    color: #fff;
}
}

/*wr-work*/
.wr-work  {
    padding-top: 110px;
    padding-bottom: 122px;
    padding-left: 60px;
}
.container2 {
    display: flex;
    justify-content: space-around;
}
.container2 {
.icon-work {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
}
.block-work {
    display: flex;
    max-width: 360px;
}
.text-icon {
    margin-left: 20px;
}
.text-icon {
h3 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}
}
.line {
    width: 100%;
    height: 1px;
    background-color: #DCDCDC;
    margin: 54px 50px;
}

/*wr-devices*/
.wr-devices {
    background-image: linear-gradient(50deg, 
    rgb(255, 255, 255,0.9) 0%, 
    rgb(208, 213, 213,0.9) 100%),
    url("../media/background/second.png");
    background-size: cover;
    background-position: center;
    padding-top: 70px;
}
.device-phone {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.device-item {
    display: block;
}
.device-item-phone {
    position: absolute;
    bottom: -95px;
    right: 0;
    z-index: 1;
}

 /*wr-service*/
 .wr-service  {
     padding-top: 30px;
     padding-bottom: 130px;
     padding-left: 30px;
 }
.container-service {
    display: flex;
}
.service-img {
    width: 50%;
}
.container-colum {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-left: 15px;
    width: 45%;
}
.element {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
}
.element:last-child {
    margin: 0;
}

.question {
    display: flex;
    justify-content: space-between;
}
.question {
img {
    width: 70px;
    height: 50px;
}
h3 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    position: absolute;
    left: 80px;
    top: 13px;
}
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.fas {
    color: #DCDCDC;
}
}
.element .answer {
    padding: 10px;
    margin: 0 20px 0 10px;
}
.hideText {
    display: none;
}

.scroll {
    overflow-y: scroll;
    height: 115px;
    padding: 5px;
}
.scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #F8F8F8;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #95e1d3;
}
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}

/*wr-slider*/
.wr-slider {
    background-color: #F8F8F8;
    padding-top: 60px;
    padding-bottom: 60px;
}
.slider-container {
    padding-left: 85px;
}
.slick1 {
img  {
    border: 3px solid #95e1d3;
    padding: 30px;
    width: 10%;
    float: left;
    margin: 30px;
}
p {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 24px;
    max-width: 1000px;
    white-space: pre-line;
    margin-top: 50px;
}
span {
    font-family: "kaushanscript-regular",sans-serif;
    font-size: 24px;
    color: #000; 
    position: relative;
    left: 80px;
    top: 15px;
}
span::before {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #ff0000;
    position: absolute;
    right: 90px;
    top: 20px;
    opacity: .4;
}
}

.slider-container {
    position: relative;
}
.slider-arrow  img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30%;
    cursor: pointer;
}
.slider-arrow:hover img {
    border: 1px solid #95e1d3;
}
.arrow-left img {
   left: 0;
}
.arrow-right img {
    right: 0;
}

/*wr-team*/
.wr-team {
    padding-top: 100px;
    padding-bottom: 120px;
}
.icon-teams {
    display: flex;
    justify-content: center;
}

.icon-team {
    width: 40px;
    height: 40px;
    padding: 12px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
}
.icon-team:last-child {
    border-right: 0;
}
.icon-team:hover {
    color: #fff;
    background-color: #f38181;
    transition: .9s;
}
.card-info {
h3 {
    text-align: center;
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    text-align: center;
}
}

/*wr-sign*/
.wr-sign {
    background-color: #F8F8F8;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
.signs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*wr-some-work*/
.wr-some-work {
    padding-top: 107px;
}
.gallery {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pictures {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
    height: 397px;
}
.pictures:hover .gallery-img {
    opacity: .1;
}
.pictures-ocean {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
    height: 794px;
}
.pictures-ocean:hover .gallery-img {
    opacity: .1;
}
.gallery-img {
    transition: opacity .2s linear;
}
.gallery-iteam1 {
    grid-row: 1;
    grid-column: 1;
}
.gallery-iteam2 {
    grid-row: 1;
    grid-column: 2;
}
.gallery-iteam3 {
    grid-row: 1/3;
    grid-column: 3/4;
}
.gallery-iteam4 {
    grid-row: 1;
    grid-column: 4;
}
.gallery-iteam5 {
    grid-row: 2;
    grid-column: 1;
}
.gallery-iteam6 {
    grid-row: 2;
    grid-column: 2;
}
.gallery-iteam7 {
    grid-row: 2;
    grid-column: 4;
}
.text-gallery {
    position: relative;
    opacity: 0;
    text-align: center;
}
.text-gallery {
img {
    width: 40px;
    height: 50px;
}
h3{
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    color: #fff;
}
}
.pictures:hover .text-gallery {
    position: relative;
    bottom: 60%;
    z-index: 1;
    opacity: 1;
}
.pictures-ocean:hover .text-gallery {
    position: relative;
    bottom: 50%;
    z-index: 1;
    opacity: 1;
}

/*wr-slider-img*/
.wr-slider-img {
    padding-top: 90px;
    padding-bottom: 100px;
}


.slider2-text {
img {
    width: 10%;
    float: left;
    padding-left: 136px;
}
p {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 24px;
    padding-top: 15px;
    white-space: pre-line;
    width: 55%;
}
span {
    font-family: "kaushanscript-regular",sans-serif;
    font-size: 24px;
    color: #333;
    position: relative;
    left: 80px;
    top: 15px;
}
span::before {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #ff0000;
    opacity: .4;
    position: absolute;
    right: 140px;
    top: 20px;
} 
}
.slider-container-img {
    position: relative;
}
.slider-container-img {
.slider-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    color: #e5e5e5; 
}
.arrow-left2 {
    left: 80px;
}
.arrow-right2 {
    right: 80px;
}
}

/*wr-clients*/
.wr-happy-clients {
    background-image: linear-gradient(50deg, 
    rgb(255, 255, 255,0.9) 0%, 
    rgb(208, 213, 213,0.9) 100%),
    url("../media/background/thirdback.png");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 126px;
}

.container-people {
    display: flex;
    flex-wrap: wrap;
}
.clients {
    display: flex;
    max-width: 549px;
    margin-left: 62px;
    margin-top: 60px;
}
.clients img {
    width: 30%;
    height: 165px;
    border-radius: 100px;
}
.clients-text {
    margin-left: 30px;
}
.clients-text {
h3 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    color: #333333;
    position: relative;
    top: -10px;
}
h4::after {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #ff0000;
    opacity: 0.4;
    position: absolute;
    top: 35px;
}
p {
    max-width: 390px;
}
}
/*wr-latest*/
.wr-latest {
    padding-top: 109px;
    padding-bottom: 116px;
}
.container-latest {
    display: flex;
    justify-content: space-around;
}
.blog-img {
    position: relative;
}
.blog {
img {
    display: block;
    max-width: 100%;
    height: 240px;
    object-fit: cover;
}
h3 {
    width: 15%;
    height: 60px;
    background-color: #95e1d3;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: -10px;
    bottom: -10px;
    line-height: 0.7;
}
span {
    font-family:  "roboto-lightitalic", sans-serif;
    font-size: 15px;
}
h4 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}
p {
    max-width: 370px;
}
}
.buttons {
    display: flex;
    align-items: center;
    border-top: 1px solid #808080;
    opacity: 0.5;
}
.buttons {
.fa-eye {
    color: #95e1d3;
}
.fa-comment-dots {
    color: #95e1d3;
    margin-left: 15px;
}
.btns{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
h5 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    color: #999;
}
}

/*wr-map*/
.wr-map {
    background-image: linear-gradient(50deg, 
    rgb(255, 255, 255,0.9) 0%, 
    rgb(208, 213, 213,0.9) 100%),
    url("../media/background/backgroundmap.png");
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}
.container-map {
    text-align: center;
}
.container-map {
 img {
    width: 30px;
    height: 30px;
}
.map {
    font-family: "montserrat-bold", sans-serif;
    font-size: 24px;
    color: #f38181;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.map::after {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #f38181;
    margin-top: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
}
.map:hover {
    color: #95e1d3;
}
/*wr-last*/
.wr-last {
    background-color: #F0F0F0;
    background-size: cover;
    background-position: center;
    padding-top: 74px;
    padding-bottom: 20px;
}
.container-mogo {
   display: flex;
   justify-content: space-between;
}
.mogo {
h2 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 40px;
    opacity: 0.3;
    margin-top: 4px;
}
p {
    max-width: 460px;
    line-height: 1.5;
}
h3 {
    font-weight: lighter;
    margin-top: 30px;
    font-size: 15px;
}
span {
    font-family: "montserrat-bold", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 5px;
}
.lines {
    width: 100%;
    height: 1px;
    background-color: #DCDCDC;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
}
}
.container-follow {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-follow i {
    color: #95e1d3;
}
.fab:hover  {
    color: #fce38a;
}
.fas:hover  {
    color: #fce38a;
}

.contacts-form {
    width: 100%;
    max-width: 410px;
    height: 40px;
}
input {
    border: none;
    width: 240px;
    height: 100%;
    border-color: #F8F8F8;
    margin-top: 20px;
    outline: none;
}
input[type] {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.contacts-button {
    width: 150px;
    height: 106%;
    background-color: #95e1d3;
    border: none;
    margin-left: -2px;
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
    cursor: pointer;
}
.contacts-button:hover {
    background-color: #fce38a;
}
input::placeholder {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
}

.blogs {
h2 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #333;
}
}
.blogs-img {
    display: flex;
    justify-content: space-between;
    max-width: 315px;
}
.blogs-img {
img {
    height: 80px;
    object-fit: cover;
    margin: 3px;
}
}
.blogs-text {
    margin-left: 15px;
}
.blogs-text{
p {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.5;
}
h3 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 13px;
}
}
.blog-view {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
}
.blog-view img {
    width: 30%;
    height: 90px;
    padding: 1px;
    object-fit: cover;
}
.blog-instagram {
h2 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #333;
}
.view-img {
    background: none;
    border: none;
    font-family:  "roboto-lightitalic", sans-serif;
    font-size: 13px;
    margin-top: 15px;
}  
}
.view-img:hover {
    color: #fce38a;
}
.footer {
    text-align: center;
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    border-top: 1px solid #DCDCDC;
    margin-top: 40px;
    padding: 20px;
}
.footer a {
    text-decoration: none;
    color: #f38181;
}
.mobile_menu_click{
    display: none;
}

@media (max-width: 1230px) {
    /*wr-intro*/
.wr-about {
    padding-top: 0vh;
}
.btn {
    margin-top: 0;
}
.slider-link {
    margin-top: 26px;
}
    /*wr-service*/
.container-service {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-colum {
    margin-top: 25px;
    width: 100%;
}
}




@media (max-width: 990px) {
    /*wr-intro*/
.nav ul {
    padding-left: 25px;
}
.wr-about {
    padding-top: 5vh;
}
.section-title-block h2 {
    font-size: 45px;
}
.section-title-block h1 {
    font-size: 78px;
    max-width: 460px;
}
.btn {
    width: 130px;
}
.slider-link {
    margin-top: 60px;
}
.link:hover:before {
    width: calc(100% - 139px);
}
/*wr-story*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gradient {
    margin-top: 30px;
}
/*wr-number*/
.number p {
    text-align: center;
}
/*.wr-devices*/
.device-phone .phone {
    width: 28%;
}
/*.wr-service*/
.section-title-block2 p {
    max-width: 845px;
} 
.container-service {
    display: flex;
    flex-direction: column;
}
.service-img {
    width: 60%;
}
.container-colum {
    margin-left: 2px;
    width: 60%;
}

/*wr-slider*/
.slider-container {
    padding-left: 30px;
}
/*.wr-team*/
.icon-teams {
    margin-left: -30px;
}
.icon-team {
    padding: 15px;
}
.text-team {
h3 {
    font-size: 17px;
}
h4 {
    font-size: 17px;
}
}
/*.wr-slider-img*/
.slider2-text p {
    font-size: 16px;
    width: 70%;
}
/*.wr-latest*/
.wr-latest {
    padding-top: 45px;
}
.container-latest {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.wr-last*/
.wr-last {
    padding-top: 40px;
}
.mogo p {
    max-width: 338px;
    font-size: 13px;
}
.mogo .lines {
    width: 91%;
}
input {
    width: 185px;
}
.contacts-button {
    width: 118px;
}
.blogs-text p {
    font-size: 10px;
    max-width: 168px;
}
.blogs-img {
    margin-top: 36px;
}
.view {
    margin-top: 40px;
}
}




@media (max-width: 770px) {
    /*wr-intro*/
.nav {
    display: none;
    width: 100%;
    background-color: #eb8b8d;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: 1;
}
.nav.active {
    display: block;
}
.nav ul {
    display: block;
}
.nav-menu li {
    margin: 0;
    padding: 10px 20px;
}
.nav-toggle {
    display: block;
}
.nav-toggle .active {
    display: block;
}
.buttons-nav {
    margin-right: 60px;
}
.button-mini {
    padding-top: 10px;
}
.logo {
    padding-top: 10px;
}
.wr-about {
    padding-top: 7vh;
}
.section-title-block h2 {
    font-size: 45px;
}
.section-title-block h1 {
    font-size: 70px;
    max-width: 400px;
}
.btn {
    margin-top: 33px;
}

/*slider-link*/
.slider-text {
    display: none;
}
.link:hover:before {
    width: calc(100% - 94px);
}
/*wr-story*/
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
}
.gradient {
    width: 80%;
    max-width: 340px;
}
/*.wr-dates*/
.number {
span {
    font-size: 65px;
}
p {
    text-align: center;
}
}
/*wr-work*/
.wr-work {
    padding-top: 45px;
    padding-left: 0;
}
.section-title-block2 h3 {
    font-size: 25px;
}
.line {
    width: 85%;

}
/*.wr-devices*/
.wr-devices {
    padding-top: 40px;
}
.device-item {
    width: 50%;
    margin-top: 80px;
    margin-left: 90px;
}
.device-item-phone {
    width: 25%;
    bottom: -51px;
    right: 100px;
}

/*.wr-service*/
.wr-service {
    padding-top: 90px;
    padding-left: 0;
}
.container-service {
    margin-top: 20px;
}
.service-img {
    width: 70%;
}
.container-colum {
    width: 70%;
}

/*wr-slider*/
.slick1 p {
    font-size: 17px;
}
.slider-container {
    padding-left: 2px;
}
/*wr-team*/
.wr-team {
    padding-top: 30px;
}

/*sing*/
.signs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 520px;
    padding-left: 92px;
}
/*gallery*/
.gallery {
    display: flex;
    flex-direction: column;
    padding-left: 94px;
}
.pictures {
    width: 86%;
    height: 400px;
}
.pictures-ocean {
    width: 86%;
    height: 600px;
}

/*wr-some-work*/
.wr-some-work {
    padding-top: 50px;
}
/*slider-img*/
.slick2 {
img {
    width: 23%;
}
p {
    font-size: 17px;
    padding-left: 72px;
    max-width: 592px;
}
span {
    font-size: 17px;
}
}
.slick2 span::before {
    width: 50px;
    right: 106px;
    top: 15px;
}
.slider-container-img .arrow-left2 {
    left: 25px;
}
.slider-container-img .arrow-right2 {
    right: 50px;
}
.slider-container-img {
    padding-left: 0;
}
/*.wr-happy-clients*/
.wr-happy-clients {
    padding-top: 50px;
}
.container-people {
    display: flex;
    flex-wrap: wrap;
}
.clients img {
    width: 17%;
    height: 100px;
}
.clients {
    margin-top: 95px;
}
/*wr-last*/
.container-mogo {
    display: flex;
    flex-direction: column;
}
.mogo p {
    max-width: 640px;
    font-size: 17px;
}
.follow {
    display: flex;
    justify-content: flex-start;
}
.contacts-form {
    max-width: 440px;
}
.follow a {
    margin-left: 25px;
}
input {
    width: 250px;
}
.contacts-button {
    width: 166px;
}
.blogs-img {
    display: flex;
    justify-content: flex-start;
}
.blogs-img img {
    width: 28%;
    height: 130px;
}
.blogs-text {
p {
    font-size: 16px;
    max-width: 250px;
}
h3 {
    font-size: 16px;
}
}
.blogs-text {
    margin-left: 32px;
}
.blogs h2 {
    font-size: 20px;
    margin-top: 50px;
}
.blogs-img {
    max-width: 720px;
}
.instagram h2 {
    font-size: 20px;
}
.view img {
    width: 32%;
    height: 100px;
}
.instagram .view-img {
    font-size: 16px;
}
}



@media (max-width: 575px) {
    /*wr-intro*/
.wr-about {
    padding-top: 7vh;
}
.section-title-block h2 {
    font-size: 40px;
}
.section-title-block h1 {
    max-width: 320px;
    font-size: 55px;
}
.btn {
    font-size: 12px;
    width: 114px;
    height: 31px;
}
.slider-link {
    margin-top: 90px;
}

/*wr-store*/
.wr-story {
    padding-top: 35px;
}
.section-title-block2 {
    margin-bottom: 0;
}
.section-title-block2 {
 h3 {
    font-size: 30px;
}
p {
    font-size: 15px;
}
}
.card-item {
    font-size: 16px;
    top: 55%;
}

/*.wr-dates*/
.number {
span {
    font-size: 47px;
}
p {
    text-align: center;
    font-size: 12px;
}
}
/*wr-work*/
.section-title-block2 h3 {
    font-size: 20px;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}



/*wr-service*/
.wr-service {
    padding-top: 60px;
}
.container-service {
    padding-left: 0;
}
.container-service .work {
    width: 100%;
}
.question h3 {
    font-size: 10px;
}
.question img {
    width: 50px;
    height: 36px;
}
/*wr-slider*/
.slick1 img {
    padding: 30px;
    margin: 18px;
}
.slick1 span {
    font-size: 18px;
}
.slick1 span::before {
    width: 90%;
    height: 1px;
    right: 72px;
    top: 16px;
}
.slick1 p {
    max-width: 460px;
    margin-top: 10px;
}
.slider-arrow {
    display: none;
}
/*.wr-team*/

.icon-team {
    padding: 8px;
    margin-bottom: 50px;
}
/*sign*/
.signs {
    padding-left: 30px;
}

/*.wr-slider-img*/
.slick2 p {
    max-width: 547px;
}
.slider2-text img {
    padding-left: 90px;
}
.slider2-text span {
    left: 230px;
}
.clients img {
    width: 20%;
}
/*last*/
.blogs-img img {
    height: 115px;
}
}



@media (max-width: 430px) {
.wr-about {
    padding-top: 7vh;
}
.slider-link {
    margin-top: 115px;
}
/*wr-story*/
.wr-story {
    padding-bottom: 70px;
}
.section-title-block2 p {
    margin-top: 25px;
    font-size: 12px;
}

.section-title-block2 h3:after {
    margin-top: 12px;
}

/*wr-number*/
.number {
    display: flex;
    flex-direction: column;
}
.item {
    border-bottom: 1px solid #fff;
    width: 100%;
}
.number span {
    font-size: 53px;
}
.number p {
    font-size: 12px;
}
.item { 
    border-right: none;
    padding: 15px 20px;
}
.item:first-child {
    border-left: none;
}

/*wr-work*/
.wr-work {
    padding-bottom: 50px;
}
.line {
    width: 73%;
}
.container2 {
    margin-top: 20px;
}
.container2 .icon-work {
    width: 50px;
    height: 50px;
}
.text-icon h3 {
    font-size: 11px;
}

/*.wr-devices*/
.device-item {
    width: 70%;
    margin-left: 50px;
}
.device-item-phone {
    width: 35%;
    bottom: -52px;
    right: 15px;
}

/*.wr-service*/
.wr-service {
    padding-top: 70px;
    padding-bottom: 60px;
}
.service-img {
    width: 90%;
}
.container-colum {
    width: 90%;
}


/*.wr-slider*/
.wr-slider {
    padding-top: 30px;
    padding-bottom: 30px;
}
.slider-container {
    max-width:320px;
    margin:0 auto;
    overflow: auto;
    overflow-x: hidden;
}
.slick1 img {
    padding: 7px;
} 
.slick1 p {
    max-width: 370px;
    margin-top: 11px;
    font-size: 10px;
    
}
.slick1 span {
    font-size: 13px;
    left: 50px;
    top: 4px;
}
.slick1 span::before {
    width: 67%;
    height: 1px;
    right: 60px;
    top: 14px;
}
.slider-arrow img {
    width: 10px;
}
/*wr-team*/
.icon-team {
    padding: 8px;
}
.card-info h3 {
    font-size: 11px;
}
.card-info h4 {
    font-size: 11px;
}

/*.wr-sign*/
.signs {
    display: flex;
    flex-wrap: wrap;
    max-width: 303px;
    padding-left: 40px;
}
.wr-sign {
    padding-top: 32px;
    padding-bottom: 30px;
}
/*.wr-some-work*/
.gallery {
    padding-left: 50px;
}
/*.wr-slider-img*/
.slick2 img {
    width: 15%;
}
.slider2-text img {
    padding-left: 7px;
}
.slick2 p {
    font-size: 12px;
    padding-left: 52px;
    padding-top: 0;
    max-width: 388px;
}
.slick2 span {
    font-size: 13px;
}
.slider2-text span {
    left: 115px;
    top: 3px;
}


/*wr-last*/
.mogo {
h2 {
    font-size: 38px;
}
p {
    font-size: 12px;
}
}
.follow a {
    margin-left: 8px;
}
input {
    width: 157px;
}
.contacts-button {
    width: 105px;
}
.blogs-text p {
    font-size: 11px;
}
.blogs-text h3 {
    font-size: 12px;
}
.blogs-img img {
    height: 72px;
}
.clients img {
    width: 30%;
    height: 45%;
}
.container-people {
    margin-top: -60px;
    margin-left: -50px;

}
.container-latest {
    margin-top: 50px;
}
}

@media (max-width: 320px) {
/*.wr-intro*/
.wr-about {
    padding-top: 9vh;
}
.section-title-block h2 {
    font-size: 35px;
}
.section-title-block h1 {
    max-width: 280px;
    font-size: 50px;
    padding: 0;
}

/*.wr-about*/
.container {
    margin-left: 0;
}

.gradient-icon {
    left: 41%;
}
/*wr-work*/
.container2 {
    margin-top: 30px;
}
/*wr-device*/
.device-item-phone {
    bottom: -39px;
}

/*wr-service*/
.wr-service {
    padding-top: 20px;
}
.service-img {
    width: 100%;
}
.question img {
    width: 35px;
    height: 27px;
}
.question h3 {
    top: 8px;
}
.container-service .work {
    margin-left: -13px;
    margin-top: -33px;
}
.container-colum {
    width: 100%;
    margin-left: 1px;
}
/*wr-slider*/
.slick1 span {
    left: 50px;
}
.slider-container-img .arrow-right2 {
    display: none;
}
.slick2 img {
    width: 16%;
    padding-top: 17px;
}
.wr-slider-img {
    padding-left: 0;
}
.slick2 span {
    top: 3px;
}
.slick2 span::before {
    width: 43px;
    right: 87px;
}
/*.wr-team*/
.icon-teams {
    margin-left: -18px;
}
.icon-teams .fab {
    margin-top: 4px;
}
.icon-teams .fas {
    margin-top: 4px;
}

/*.wr-sign*/
.signs {
    padding-left: 1px;
}
.sing {
    max-width: 123px;
}

/*.wr-slider-img*/
.gallery {
    padding-left: 33px;
}
.pictures {
    height: 200px;
}
.pictures-ocean {
    height: 450px;
}
.pictures:hover .text-gallery {
    bottom: 83%;
}
.pictures-ocean:hover .text-gallery {
    bottom: 67%;
}

/*wr-happy-clients*/
.clients-text p {
    font-size: 12px;
}
/*wr-last*/
.blogs h2 {
    font-size: 15px;
}
.instagram h2 {
    font-size: 15px;
}
}








