@import "./setting.scss";
@import"./normalize.scss";

.wr-intro {
    background-image: linear-gradient(180deg, 
    rgba(243,129,129,0.9) 0%,
    rgba(252,227,138,0.9) 100%), 
    url("../media/background/background1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.header {
    padding-top: 13px;
    padding-bottom: 13px;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #fff;
    font-size: 30px;
    font-family: "montserrat-bold", sans-serif;
    margin-left: 18px;
    text-decoration: none;
}

.nav {
ul {
    display: flex;
    padding-left: 375px;
}
li {margin-left: 47px;
    list-style-type: none;
}
a {
    color: #fff;
    font-size: 14px;
    font-family: "montserrat-regular", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
}
.button-mini {
    background: none;
    border: none;
}
.basket {
    width: 25px;
    height: 25px;
}
.search-img {
    width: 25px;
    height: 20px;
}
.header a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 5px;
    text-decoration: none;
}
.button-mini:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 5px;
}

/*wr-about*/
.wr-about {
    padding-top: 3vh;  
}
.section-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title-block {
h2 {
    color: #fff;
    font-family: "kaushanscript-regular", sans-serif;
    font-size: 72px;
}
h1 {
    position: relative;
    font-size: 135px;
    text-transform: uppercase;
    font-family: "montserrat-bold", sans-serif;
    color: #fff;
    text-align: center;
    max-width: 924px;
    margin-top: 5px;
}
h1:after {
    content: "";
    display: block;
    width: 62px;
    height: 2px;
    background-color: #fff;
    margin-top: 30px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
}

.btn {
    color: #fff;
    font-family: "montserrat-bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    width: 160px;
    height: 40px;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
}
.slider-link {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 70px;
}
.slider-link a {
    text-decoration: none;
    color: #fff;
}
.link {
    color: #fff;
    font-family: "montserrat-regular", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    width: 22%;
    padding-top: 20px;
    position: relative;
}
.link:hover:before {
    content: '';
    position: absolute;
    bottom: 100%;
    border-top: 2px solid #e34234;
    width: calc(100% - 200px);
}
.link:hover {
    font-weight: bold;
}

/*wr-story*/
.wr-story {
    padding-top: 90px;
    padding-bottom: 120px;
}
.container {
    display: flex;
    justify-content: space-around;
}
.gradient {
    position: relative;
    margin-top: 80px;
    width: 31%;
    height: 250px;
    transition: 4s;
}
.image {
    width: 100%;
    height: 250px;
}
.gradient:hover {
    top: -10px;
    left: -10px;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-25px);
}
.gradient:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #95e1d3;
    z-index: -1;
}
.gradient:hover:before {
	content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
    z-index: 1;
}
.text-image {
    font-family: "montserrat-bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff; 
}
.icon-people {
    width: 50px;
    height: 50px;
}
.gradient:hover .text-image {
    position: absolute;
    top: 130px;
    left: 125px;
    opacity: 1;
    z-index: 1;
}
.gradient:hover .icon-people {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

   
/*wr-dates*/
.wr-dates {
    background-color:  #95e1d3;
}
.item {
    border-right: 1px solid #fff;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
}
.item:first-child {
    border-left: 1px solid #fff;  
}
.number {
    display: flex;
    justify-content: space-around;
}
.number {
p {
    font-family: "montserrat-regular",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
span {
    font-family: "montserrat-bold", sans-serif;
    font-size: 72px;
    color: #fff;
}
}

/*wr-work*/
.wr-work  {
    padding-top: 110px;
    padding-bottom: 122px;
    padding-left: 60px;
}
.container2 {
    display: flex;
    justify-content: space-around;
    margin-top: 66px;
}
.container2 {
.icon-work {
    float: left;
    margin: 20px;
}
h3 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}
p {
    max-width: 365px;
}
}
.line {
    width: 100%;
    height: 1px;
    background-color: #DCDCDC;
    margin-top: 54px;
}

/*wr-devices*/
.wr-devices {
    background-image: linear-gradient(50deg, 
    rgb(255, 255, 255,0.9) 0%, 
    rgb(208, 213, 213,0.9) 100%),
    url("../media/background/second.png");
    background-size: cover;
    background-position: center;
    padding-top: 70px;
}
.device-phone {
    text-align: center;
    padding-left: 120px;
}

.device-phone {
img {
    width: 45%;
    height: 600px;
    margin-top: 61px;
}
.phone {
    width: 23%;
    height: 420px;
    position: relative;
    right: 100px;
    top: 92px;
}
}

 /*wr-service*/
 .wr-service  {
     padding-top: 115px;
     padding-bottom: 130px;
     padding-left: 30px;
 }
.container-service {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.container-service img {
    width: 47%;
    height: 380px;
}
.container-colum {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}
.element {
    max-width: 600px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 10px 0;
}
.element:last-child {
    margin: 0;
}

.question {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 46px;
}
.question {
img {
    width: 10%;
    height: 50px;
}
h3 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 330px;
}
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.fas {
    color: #DCDCDC;
}
}
.element .answer {
    padding: 10px;
    margin: 0 20px 0 10px;
}
.hideText {
    display: none;
}

.scroll {
    overflow-y: scroll;
    height: 115px;
    padding: 5px;
}
.scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #F8F8F8;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #95e1d3;
}
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}

/*wr-slider*/
.wr-slider {
    background-color: #F8F8F8;
    padding-top: 60px;
    padding-bottom: 60px;
}
.slider-container {
    padding-left: 85px;
}
.slick1 {
img  {
    border: 3px solid #95e1d3;
    padding: 30px;
    width: 10%;
    float: left;
    margin-right: 70px;
}
p {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 24px;
    width: 95%;
    white-space: pre-line;
}
span {
    font-family: "kaushanscript-regular",sans-serif;
    font-size: 24px;
    color: #000000; 
    position: relative;
    left: 80px;
    top: 15px;
}
span::before {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #ff0000;
    position: absolute;
    right: 90px;
    top: 20px;
    opacity: .4;
}
}

.slider-container {
    position: relative;
}
.slider-arrow  img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30%;
}
.arrow-left img {
   left: 0;
}
.arrow-right img {
    right: 0;
}

/*wr-team*/
.wr-team {
    padding-top: 100px;
    padding-bottom: 140px;
}
.container-team2 {
    display: flex;
    justify-content: space-between;
}
.block-team {
    position: relative;
    width: 100%;
    height: 470px;
    margin-top: 60px;
}
.developer {
    width: 100%;
    height: 470px;
}
.text-team {
h3 {
    text-align: center;
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin-top: -30px;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    text-align: center;
}
}
.block-team:hover {
    top: -10px;
    left: -10px;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-25px);
}
.block-team:hover::after  {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #95e1d3;
    z-index: -1;
} 
.block-team:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, 
    rgba(243,129,129,0.9) 0%,
    rgba(252,227,138,0.9) 100%);
    z-index: 1;
}
.icon-teams {
    display: flex;
}
.icon-team {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #fce38a;
    padding: 10px;
    margin: -2px;
    border-left: 1px solid #f38181;
}
.icon-team:last-child {
    border-right: 1px solid #f38181;
}

.block-team:hover .icon-team {
    top: -250px;
    left: 70px;
    opacity: 1;
    z-index: 1;
}
.icon-team:hover {
   background-color: #ffffff;
   fill: #fff;
}

/*wr-sign*/
.wr-sign {
    background-color: #F8F8F8;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
.signs {
    display: flex;
    justify-content: space-between;
}
.sing {
    width: 100%;
}


/*wr-some-work*/
.wr-some-work {
    padding-top: 107px;
}
.gallery {
    display: grid;
    grid-template-rows: repeat(2, 397px);
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    position: relative;
}
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-iteam1 {
    grid-row: 1;
    grid-column: 1;
}
.gallery-iteam2 {
    grid-row: 1;
    grid-column: 2;
}
.gallery-iteam3 {
    grid-row: 1/3;
    grid-column: 3/4;
}
.gallery-iteam4 {
    grid-row: 1;
    grid-column: 4;
}
.gallery-iteam5 {
    grid-row: 2;
    grid-column: 1;
}
.gallery-iteam6 {
    grid-row: 2;
    grid-column: 2;
}
.gallery-iteam7 {
    grid-row: 2;
    grid-column: 4;
}

.pictures:hover::before {
    content: '';
    display: inline-block;
    width: 25%;
    height: 50%;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
   
}
.pictures-ocean:hover::before {
    content: '';
    display: inline-block;
    width: 25%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%)
}
.text-gallery {
    position: relative;
    opacity: 0;
    text-align: center;
}
.text-gallery {
img {
    width: 40px;
    height: 50px;
}
h3{
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    color: #fff;
}
}
.pictures:hover .text-gallery {
    position: relative;
    top: -70%;
    z-index: 1;
    opacity: 1;
}
.pictures-ocean:hover .text-gallery {
    position: relative;
    top: -55%;
    z-index: 1;
    opacity: 1;
}

/*wr-slider-img*/
.wr-slider-img {
    padding-top: 90px;
    padding-bottom: 100px;
    padding-left: 130px;
    overflow: hidden;
}
.slider-container-img {
    padding-left: 85px;
}

.slick2 {
img {
    padding-right: 40px;
    padding-top: -50px;
    float: left;
}
p {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 24px;
    padding-top: 40px;
    max-width: 1000px;
    white-space: pre-line;
}
span {
    font-family: "kaushanscript-regular",sans-serif;
    font-size: 24px;
    color: #333333;
    position: relative;
    left: 80px;
    top: 15px;
}
span::before {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #ff0000;
    opacity: .4;
    position: absolute;
    right: 140px;
    top: 20px;
} 
}
.slider-container-img {
    position: relative;
}
.slider-container-img {
.slider-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    color: #e5e5e5; 
}
.arrow-left2 {
    left: 0;
}
.arrow-right2 {
    right: 0;

}
}

/*wr-clients*/
.wr-happy-clients {
    background-image: linear-gradient(50deg, 
    rgb(255, 255, 255,0.9) 0%, 
    rgb(208, 213, 213,0.9) 100%),
    url("../media/background/thirdback.png");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 126px;
}

.container-people {
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
}
.clients img {
    float: left;
    margin: 5px;
}
.container-people {
h3 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    color: #333333;
    position: relative;
    top: -10px;
}
h4::after {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #ff0000;
    opacity: 0.4;
    position: absolute;
    top: 35px;
    left: 140px;
}
p {
    max-width: 450px;
    margin-left: 70px;
    margin-top: 25px;
}
}
/*wr-latest*/
.wr-latest {
    padding-top: 109px;
    padding-bottom: 116px;
}
.container-latest {
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
}
.blog {
    position: relative;
}
.blog {
img {
    width: 100%;
}
h3 {
    width: 15%;
    height: 60px;
    background-color: #95e1d3;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: -10px;
    top: 125px;
}
span {
    font-size: 13px;
    font-weight: lighter;
    position: absolute;
    top: 39px;
    left: 5px;
    padding-left: 15px;
}
h4 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}
p {
    max-width: 370px;
}
.lines {
    width: 100%;
    height: 1px;
    background-color: #808080;
    opacity: 0.5;
}
.icons {
    width: 20px;
    height: 20px;
}
.eye {
    background: none;
    border: none;
    margin-top: 15px;
    position: relative;
}
h5 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    color: #999999;
    position: absolute;
    top: -25px;
    left: 35px;
}
.comment {
    background: none;
    border: none;
    position: absolute;
    left: 80px;
    bottom: 1px;
}
}

/*wr-map*/
.wr-map {
    background-image: linear-gradient(50deg, 
    rgb(255, 255, 255,0.9) 0%, 
    rgb(208, 213, 213,0.9) 100%),
    url("../media/background/backgroundmap.png");
    background-size: cover;
    background-position: center;
    padding-top: 53px;
    padding-bottom: 50px;
    text-align: center;  
}
.wr-map {
 img {
    width: 30px;
    height: 30px;
}
h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 24px;
    color: #f38181;
    text-transform: uppercase;
    position: relative;
}
h3::after {
    content: '';
    display: block;
    width: 62px;
    height: 3px;
    background-color: #f38181;
    margin-top: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
}
/*wr-last*/
.wr-last {
    background-color: #F0F0F0;
    background-size: cover;
    background-position: center;
    padding-top: 74px;
    padding-bottom: 20px;
}
.wr-mogo {
   display: flex;
   justify-content: space-between;
}
.mogo {
h2 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 46px;
    opacity: 0.3;
}
p {
    max-width: 460px;
    line-height: 1.5;
}
h3 {
    font-weight: lighter;
    margin-top: 30px;
    font-size: 15px;
}
span {
    font-family: "montserrat-bold", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    padding: 5px;
}
.lines {
    width: 100%;
    height: 1px;
    background-color: #DCDCDC;
}
h4 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
}
}
.follow {
    display: flex;
}
.follow img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
input {
    width: 240px;
    height: 40px;
    border-color: #F8F8F8;
    opacity: 0.4;
    margin-top: 20px;
}
.contacts-button {
    width: 150px;
    height: 45px;
    background-color: #95e1d3;
    border: none;
    margin-left: -5px;
    font-family: "montserrat-bold", sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
input::placeholder {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 15px;
    padding-left: 20px;
}
.blogs {
h2 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 40px;
    font-weight: lighter;
    color: #333333;
}
img {
    width: 35%;
    float: left;
    margin-right: 20px;
    padding-top: 25px;
}
p {
    font-size: 12px;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: lighter;
    line-height: 1.5;
    padding-top: 30px;
}
h3 {
    font-family: "roboto-lightitalic", sans-serif;
    font-size: 13px;
}
}
.blogs-img {
    margin-top: 20px;
}
.view {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
}
.view img {
    width: 28%;
    padding: 1px;
}
.instagram {
    margin-top: 35px;
}
.instagram {
h2 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #333333;
}
.view-img {
    background: none;
    border: none;
    margin-top: 20px;
    font-family:  "roboto-lightitalic", sans-serif;
    font-size: 13px;
}  
}
.view {
    margin-top: 45px;
}
.line-last {
    width: 100%;
    height: 1px;
    background-color: #DCDCDC;
    margin-top: 70px;
}
.copy {
    text-align: center;
    margin-top: 20px;
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
}
.copy a {
    text-decoration: none;
    color: #f38181;
}
